<div class='box'>
  <h3><%= 'Default settings' %></h3>
  <p>
    <label><%= l(:label_gantt_tweak_number_of_months) %></label>
    <%= number_field_tag 'settings[0][months]', @settings['0'][:months], step: 1, min: 1 %>
  </p>
  <p>
    <label><%= l(:label_gantt_tweak_offset_months) %></label>
    <%= number_field_tag 'settings[0][offset_months]', @settings['0'][:offset_months], step: 1 %>
  </p>
  </p>
  <p>
    <label><%= l(:label_gantt_tweak_zoom) %></label>
    <%= number_field_tag 'settings[0][zoom]', @settings['0'][:zoom], step: 1, min: 1, max: 4 %>
  </p>
  <p>
    <label><%= l(:label_gantt_tweak_subject_width) %></label>
    <%= number_field_tag 'settings[0][subject_width]', @settings['0'][:subject_width], step: 10, min: 10 %>
  </p>

  <% @settings.each do |key, value| %>
    <% if key != '0' %>
      <%= hidden_field_tag "settings[#{key}][months]", @settings[key][:months] %>
      <%= hidden_field_tag "settings[#{key}][offset_months]", @settings[key][:offset_months] %>
      <%= hidden_field_tag "settings[#{key}][zoom]", @settings[key][:zoom] %>
      <%= hidden_field_tag "settings[#{key}][subject_width]", @settings[key][:subject_width] %>
    <% end %>
  <% end %>
</div>